<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css">
    <title>Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <%- yield %>
  </body>
</html>